.poke-card{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--boxshadow);
    transition: 0.3s;
    position: relative;
}

.poke-card img {
    width: 100px;
    height: 100px;
}



.card {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 20%;
    margin: 10px;
    word-break: break-word;
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.type-p{
    border: 1px solid black;
    color: var(--text);
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.grass{background-color: #5FAF6A ;}
.fire{background-color: #E07A5F;}
.poison{background-color:#8B5FA8;}
.flying{background-color: #7DA6D9;}
.water{background-color: #4F8FC0 ;}
.bug{background-color: #8FAF5F;}
.normal{background-color:#A8A8A8 ;}
.electric{background-color: #D9B44A;}
.ground{background-color:#B08968 ;}
.fairy{background-color: #D68FB3;}
.ice { background-color: #7EC9D9; }
.psychic { background-color: #D957A0; }
.rock { background-color: #A8906E; }
.steel { background-color: #8FA3B0; }
.fighting { background-color: #C65A3A; }



.grass.type-p { background-color: #4e8f58; }
.fire.type-p { background-color: #c9654c; }
.poison.type-p { background-color: #6f4c88; }
.flying.type-p { background-color: #5f8fc2; }
.water.type-p { background-color: #3e74a1; }
.bug.type-p { background-color: #6f8f4a; }
.normal.type-p { background-color: #8a8a8a; }
.electric.type-p { background-color: #b8962f; }
.ground.type-p { background-color: #8f6f52; }
.fairy.type-p { background-color: #b76f95; }
.ice.type-p { background-color: #5fa7b5; }
.psychic.type-p { background-color: #a63f78; }
.rock.type-p { background-color: #7a674f; }
.steel.type-p { background-color: #6b7c88; }
.fighting.type-p { background-color: #94432b; }


.button-fav{
    font-size: 30px;
    padding: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 10px;
    position: absolute;
    color:red
}

.button-fav:hover{
     transform: none;
  box-shadow: none;
  color: inherit;
  background-color: inherit;
  color:red
}

@media (max-width: 767px) {

    .card{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .card{
        width: 30%;
    }
}