.poke-card{
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px;
    transition: 0.3s;
}

.poke-card:hover{
    cursor: pointer;
    box-shadow: 7px 7px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 20%;
    margin: 10px;
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.type-p{
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.grass{background-color: lightgreen;}
.fire{background-color: lightcoral;}
.poison{background-color: rgb(175, 77, 175);}
.flying{background-color: rgb(167, 227, 227);}


@media (max-width: 767px) {

    a{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    a{
        width: 30%;
    }
}