.poke-card{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--boxshadow);
    transition: 0.3s;
}


/* .poke-card:hover{
    cursor: pointer;
    box-shadow: 7px 7px;
} */

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 20%;
    margin: 10px;
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.type-p{
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.grass{background-color: #5FAF6A ;}
.fire{background-color: #E07A5F;}
.poison{background-color:#8B5FA8;}
.flying{background-color: #7DA6D9;}
.water{background-color: #4F8FC0 ;}
.bug{background-color: #8FAF5F;}
.normal{background-color:#A8A8A8 ;}
.electric{background-color: #D9B44A;}
.ground{background-color:#B08968 ;}
.fairy{background-color: #D68FB3;}


.grass.type-p { background-color: #4e8f58; }
.fire.type-p { background-color: #c9654c; }
.poison.type-p { background-color: #6f4c88; }
.flying.type-p { background-color: #5f8fc2; }
.water.type-p { background-color: #3e74a1; }
.bug.type-p { background-color: #6f8f4a; }
.normal.type-p { background-color: #8a8a8a; }
.electric.type-p { background-color: #b8962f; }
.ground.type-p { background-color: #8f6f52; }
.fairy.type-p { background-color: #b76f95; }


@media (max-width: 767px) {

    a{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    a{
        width: 30%;
    }
}