#poke-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.poke-container>h1 {
    color: #3B82F6
}

.poke-title{
    color: #3B82F6
}

.poke-img{
    padding: 20px 60px;
    border: 1px solid var(--border);
    margin: 20px;
    height: 20%;
    border-radius: 10px;
    background-color: var(--bgcard)
}

.poke-img img {
    width: 100px;
}


.poke-info{
    padding: 20px 60px;
    border: 1px solid var(--border);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#desc{
    word-break: break-word;
}

.poke-physical-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poke-types-weaknesses{
    display: flex;
    width: 100%;
}

.poke-types,
.poke-weaknesses{
    width: 50%;
}

.types{
    display: flex;
    flex-direction: row;
}

.types p{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
}

.specs{
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--bgcard);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.poke-abilities{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ability{
    border: 1px solid var(--border);
    padding: 5px;
    width: 70%;
    border-radius: 5px;
}

.button-shout{
    margin-bottom: 20px;
}

.poke-stats{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--bgcard);
}

.sprites{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--bgcard);
}

.sprites img {
    width: 100px;
    margin: 20px 0
}

#moves{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    background-color: var(--bgmodal);
    padding: 0 30px 30px 30px;
    border-radius: 20px;
    color: white;
    border: 1px solid var(--border);
}

#moves-table{
    border-collapse: separate;
    border-spacing: 10px;
}


#delete{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    background-color: var(--bgmodal);
    border: 1px solid var(--border);
    border-radius: 20px;
    padding-bottom: 20px;
    color: white;
}

.buttons-edit-delete{
    display: flex;
    justify-content: center;
}

.poke-buttons {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {

    #poke-container{
        flex-direction: column;
    }


}

@media (max-width: 900px) {

    .poke-types-weaknesses{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}


