.about{
    text-align: left;
    padding: 40px 300px;
}

.about>h2, .about>h1 {
    color: #BF4B4B;
}

@media (max-width: 1024px){
    .about{
        padding: 40px 200px;
    }
}

@media (max-width: 728px){
    .about{
        padding: 40px;
    }
}