.navbar{
    position: sticky;
    top: 70;
    width: 100%;
    height: 70px;
    background-color: #BD0706;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.buscador{
    margin: 20px;
}

nav{
    display: flex;
    gap:20px
}