.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.buscador{
    margin-bottom: 10px;
}

nav{
    display: flex;
    gap:20px;
}

nav h3{
    margin: 10px;
}